In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df5 = pd.read_csv("route.csv",sep=';')
df5.head()

,entityid,route,rub,age,mois,annee,prd,abd,prf,abf,cumuld,cumulf,long,epaisseurdernierstravaux,anneedernierstravaux,naturedernierstravaux,supportdernierstravaux
0,000efbb3-e7c1-4b9c-a54e-1e0d6d81988a,76 D0131,20,0,7,7,0,490,3,200,490,3205,2715,"1,5",2012,ES-BC,COUL
1,0011b2a4-5a64-4223-a856-6c9e8b6b2b48,76 D0293,20,0,7,7,6,724,6,940,6737,6953,216,1,2002,COUL,ES
2,0011d99f-9091-4be4-a16c-354f23b24004,76 D0003,20,0,7,7,51,708,51,810,50762,50864,102,1,1991,ES,AC
3,00155332-804f-4547-8537-0897d7e479e1,76 D0915,20,0,11,9,61,800,62,711,61177,62116,939,2,2000,BBUM,COUL
4,0016e2d9-78bb-4092-b846-90452703009a,76 D0022,20,0,7,7,86,26,86,650,86141,86765,624,1,2006,COUL,BB

In [80]:
df5.dtypes

entityid                    object
route                       object
rub                          int64
age                          int64
mois                         int64
annee                        int64
prd                          int64
abd                          int64
prf                          int64
abf                          int64
cumuld                       int64
cumulf                       int64
long                         int64
epaisseurdernierstravaux    object
anneedernierstravaux         int64
naturedernierstravaux       object
supportdernierstravaux      object
dtype: object

In [81]:
df5['epaisseurdernierstravaux'].dtypes

dtype('O')

In [84]:
df6=df5.dropna(how = 'any')
df6.head()

,entityid,route,rub,age,mois,annee,prd,abd,prf,abf,cumuld,cumulf,long,epaisseurdernierstravaux,anneedernierstravaux,naturedernierstravaux,supportdernierstravaux
0,000efbb3-e7c1-4b9c-a54e-1e0d6d81988a,76 D0131,20,0,7,7,0,490,3,200,490,3205,2715,"1,5",2012,ES-BC,COUL
1,0011b2a4-5a64-4223-a856-6c9e8b6b2b48,76 D0293,20,0,7,7,6,724,6,940,6737,6953,216,1,2002,COUL,ES
2,0011d99f-9091-4be4-a16c-354f23b24004,76 D0003,20,0,7,7,51,708,51,810,50762,50864,102,1,1991,ES,AC
3,00155332-804f-4547-8537-0897d7e479e1,76 D0915,20,0,11,9,61,800,62,711,61177,62116,939,2,2000,BBUM,COUL
4,0016e2d9-78bb-4092-b846-90452703009a,76 D0022,20,0,7,7,86,26,86,650,86141,86765,624,1,2006,COUL,BB

In [85]:
a=df6['naturedernierstravaux'].value_counts()
a.head()
#les 5 plus fréquents travaux

BB      1192
COUL     994
ES       864
BBUM     350
BBTM     339
Name: naturedernierstravaux, dtype: int64

In [88]:
df=df6.loc[:,['epaisseurdernierstravaux','naturedernierstravaux','anneedernierstravaux']]
df.head()

  epaisseurdernierstravaux naturedernierstravaux  anneedernierstravaux
0                      1,5                 ES-BC                  2012
1                        1                  COUL                  2002
2                        1                    ES                  1991
3                        2                  BBUM                  2000
4                        1                  COUL                  2006

In [95]:
df.groupby('anneedernierstravaux').count()

                      epaisseurdernierstravaux  naturedernierstravaux
anneedernierstravaux
1900                                        48                     48
1945                                         2                      2
1950                                         1                      1
1952                                         2                      2
1974                                         1                      1
1975                                         3                      3
1977                                         1                      1
1980                                         1                      1
1981                                        10                     10
1982                                         2                      2
1983                                         9                      9
1984                                         7                      7
1985                                         7                      7
1986                                        13                     13
1987                                        16                     16
1988                                         5                      5
1989                                        30                     30
1990                                        47                     47
1991                                        33                     33
1992                                        29                     29
1993                                        47                     47
1994                                        72                     72
1995                                        75                     75
1996                                       104                    104
1997                                       161                    161
1998                                       239                    239
1999                                       272                    272
2000                                       316                    316
2001                                       377                    377
2002                                       422                    422
2003                                       268                    268
2004                                       260                    260
2005                                       409                    409
2006                                       475                    475
2007                                       418                    418
2008                                       260                    260
2009                                       192                    192
2010                                        85                     85
2011                                       199                    199
2012                                       212                    212
2013                                       142                    142
2014                                       214                    214